.App {
  text-align: center;
  margin-top: 1rem;
}

.user-info{
  display: flex;
  justify-content: space-evenly;
  background-color: #03c6c6;
  width:80%;
  border-radius: 10px;
  margin: 5rem auto
}

.personal-info{
  background-color: #00ffff;
  margin:10px;
  padding:1rem;
  border: 1px solid #017e7e;
}

.github-info{
  background-color: #00ffff;
  margin:10px;
  padding:1rem;
  border: 1px solid #017e7e;
}

.btn-fetch{
  background-color: #017e7e;
  font-size: 1.2rem;
  border:none;
  color:white;
  cursor:pointer;
  padding:0.5rem;
  border-radius: 2px;
}

.input-username{
  width:20rem;
  height:2rem;
  font-size: 1.2rem;
}